.container{
  box-sizing: content-box;
  width: 400px;
  padding: 30px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}

#register-container {
  background-color: rgba(235, 236, 236);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#errorMessage{
  color: red;
  font-size: 15px;
}


#email {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 50px;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 4px;

}

#emailLabel{
  text-align: center;
}

#emailContainer {
  margin-left: 50px;
}


#psw {
  margin-left: 10px;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 30px;
}

#pswLabel {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pswContainer {
  margin-left: 50px;
}

#submitData {
  margin-top: 25px;
  margin-left: 20%;
  width: 60%;
  background-color: #196408;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}


#Registerbtn {
  padding: 10px;
  margin-top: 20px;
  margin-left: 20%;
  width: 60%;
  background-color: rgb(255, 136, 0);
  border-radius: 15px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#Register-Container {
  margin-top: 25px;
  margin-left: 23%;
}

a#goToRegister {
  padding: 7px;
  width: max-content;
  background-color: rgb(255, 136, 0);
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

#links { float: left; }
#rechts { float: right; }

body {
  background-color: rgb(3, 52, 107);
	transition: background-color 25s;
  font-family: "futura-bold";
  font-size: 20px;
}

.center {
  text-align: center;
}

.centering {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.trenn-linie {
  background-color: rgb(69, 101, 5);
  border-width: 0px;
  height: 5px;
  border-radius: 2px;
}

h3 {
  margin-top: 25px;
}

header {
  margin: 5px;
}
.info {
  width:62px;
  height:62px;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
}
.profile {
  width:62px;
  height:62px;
  border-radius: 50%;
}
.yin {
  width:60px;
  height:60px;
  border-radius: 50%;
}
.yin15 {
  width:15px;
  height:15px;
  border-radius: 50%;
}

.link {
  font-family: "garamond-regular";
  font-size: 20px;
  text-align: right;
  background-color: white;
  border-radius: 10px;
}

h1 {
  font-family: "garamond-bold";
  color: black;
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  background-color: rgb(60, 126, 30);
  border-radius: 25px;
  text-align: center;
}

.bottom {
  position:absolute;
  bottom: 5px;
}

.endBottom {
  margin-top: 30px;
}

footer {
  font-family: "roffe";
  font-size: 13px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
  color: black;
  border-radius: 7px;
}

.main {
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(212, 153, 145);
  border-width: 2px;
  border-color: black;
  border-radius: 15px;
  line-height: 150%“;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.stack-top{
  z-index: 9;
}
 
.wrapper {
  box-sizing: content-box;
  width: 19.87em;
  padding: 1em 1em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.8em;
}
.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats-container span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 4.15em;
  height: 4.15em;
  cursor: pointer;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before {
  background-color: #f4c531;
  font-size: 2.8em;
  font-weight: 600;
}
.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
.controls-container {
  width: 26.87em;
  padding: 2.5em 3em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4c531;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);    
}
button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}
#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #f4c531;
  color: black;
}
#memory {
  text-align: center;
  width: 30%;
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;                          
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #f4c531;
  color: black
}
.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
  display: none;
}
#result {
  text-align: center;
}
#result h2 {
  font-size: 3.5em;
  padding: 10px;
}
#result h4 {
  font-size: 1.6em;
  margin: 0.4em 0 1em 0;
  font-family:'Times New Roman', Times, serif;
}
.image {
  width: 100%;
  height: 100%;
}
